* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* utility */

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

/* /utility */

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color:#D7DBD6;
}

.green_line {
  width: 100vw;
  height: 100px;
  background-color:#009688;

}

.container {
  width: 80%;
  background-color: yellowgreen;
  position: absolute;
  top: 5%;
  left: 10%;
  height: 80%;
  padding: 0;
}

/* navbar */

.navbar {
  height: 70px;
  background-color: lightgray;
  width: 100%;
  margin: 0;
}

/* /navbar */


/* LEFT */
.left {
  width: 30%;
  background-color: orange;
}

/* top-l */
/* /top-l */


/* middle-l */

/* /middle-l */


/* bottom-l */


/* /bottom-l */




/* /LEFT */

/* RIGHT */

.right {
  width: 70%;
  background-color: blueviolet;
}

/* top-r */
/* /top-r */


/* middle-r */
.message_field {
  height: calc(100% - 140px);
  background-color: yellow;
  overflow-y: scroll;
}

/* /middle-r */


/* bottom-r */

.right_bottom {
  height: 70px;
  width: 100%;
  background-color: lightcyan;
}

/* /bottom-r */



/* /RIGHT */
